[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
oauth2client = "*"
django-request = "*"
django-cors-headers = "*"
graphene-django = "*"
django-filter = "*"
pytest-django = "*"
django-graphql-jwt = "*"
freezegun = "*"


[requires]
python_version = "3.9"
